@import url('https://fonts.googleapis.com/css?family=Concert+One|Poppins');

* { box-sizing:border-box; }


body {
  background-color: rgba(53, 148, 53, 0.5);
overflow: hidden;
  background-image: url("../images/what-the-hex.png");
  text-align:center;
  background-color: rgba(53, 148, 53, 0.5);
}


#currentWord {
    /* widens letter spacing of answer to more easily see letter count */
    letter-spacing: 0.4em
}

#winner {
  display: none;
  font-size: 150%;
  margin-bottom: 10px;
}
#answerImg {
  width: auto;
  margin: auto;
  display: none;
  margin-bottom: 10px;
  border: 2px solid #666;

}

#text-box, #winner{
  color: rgb(63, 63, 63);
  font-family: 'Poppins', sans-serif;
}

#game-box {
    clear:both;
    padding: 20px;
    height: 350px;   
    width: 50%;
    margin: auto;
    background-color: rgba(191, 191, 191, 0.5);
    border: 3px solid #666;
}





h1 {
  animation:glow 10s ease-in-out infinite;
  clear:both;  
}

#start-banner {
  font-size: 125%;
}


figure {   
  transform:rotate3d(1,1,0,25deg);
  transform-origin:center center;
  transform-style:preserve-3d;
  height: 300px;
}

h1 {
  display:block;
  width:100%;
  padding:20px;
  line-height:1.5;
  font:800 7em 'Concert One', sans-serif;
  text-transform:uppercase;
  position:absolute;
  color:#0a0a0a;

 
    margin: 0px;
}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}

h1:nth-child(2){ transform:translateZ(8px); }
h1:nth-child(3){ transform:translateZ(16px);}
h1:nth-child(4){ transform:translateZ(24px); }
h1:nth-child(5){ transform:translateZ(32px); }
h1:nth-child(6){ transform:translateZ(40px); }
h1:nth-child(7){ transform:translateZ(48px); }
h1:nth-child(8){ transform:translateZ(56px); }
h1:nth-child(9){ transform:translateZ(64px); }
h1:nth-child(10){ transform:translateZ(72px); }
